@import './box-shadow';
@import './colors';
@import './palette';
@import './typography';
@import '../themes/main.scss';

body {
  background: map-get($theme-colors, $white);
  line-height: 1.6;
  overflow-x: hidden;
  overflow-y: auto;
}

[tabindex='-1']:focus {
  outline: none;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 0;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

select,
button,
textarea,
input {
  vertical-align: baseline;
}

div {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

blockquote {
  border-left: 2px solid $gray-200;
  font-size: 1.01625rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
