@import '../themes/main.scss';

h1 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  color: map-get($theme-colors, 'dark');
  font-family: $font-family-heading;
}

p,
input,
input.mat-input-element,
textarea,
textarea.mat-input-element,
button,
td {
  font-family: $font-family-base;
}
