@import '../../../../styles/app/themes/varsity.scss';

$border-radius: 5px;

.arrow {
  margin-right: 9px;
}

.ui-kit-card-tab-wrapper {
  margin-left: 18px;

  &:not(.open) {
    margin-bottom: 18px;

    .ui-kit-card-tab-base {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  .ui-kit-card-tab-base {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    cursor: pointer;
  }

  .ui-kit-card-tab-base.primary {
    background-color: $primary-base;
    color: map-get($theme-colors, 'white');
  }

  .ui-kit-card-tab-base.secondary {
    background-color: map-get($theme-colors, 'white');
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: map-get($theme-colors, 'dark');
  }
}
